/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  */
@import "./components";

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  */
@import "./utilities";

/**
 * Override some base styles.
 */


body {

  @extend 
    .h-screen,
    .flex, .flex-col,
    .overflow-hidden,
    .font-sans,
    .bg-grid,
    .bg-black,
    .text-grey-lighter,
    .text-sm,
  ;

  app-main {
    flex-direction: column;
  }

}

button {
  
  @extend
    .m-1, .py-2, .px-4,
    .bg-blue, .text-white,
    .font-bold, .rounded,
  ;

  &:hover {
    @extend .bg-blue-dark;
  }

  &:focus {
    outline: none;
  }

}

// Make sure that scripts don't take up visual space.
// The rule above targeting body's children was messing up spacing by making scripts flex.
script {
  display: none !important;
}

// Forces images to stay within bounds and retain their original aspect ratio.
img {
  object-fit: contain;
}