app-main,
app-main * {
  min-width: 0;
  min-height: 0;
  display: flex;
}

@keyframes flash {

  0%,
  50%,
  100% {
    border-color: white;
  }

  25%,
  75% {
    border-color: yellow;
  }
}

.flash-anim {
  animation: flash 0.3s ease-in-out;
}

battle-log {

  flex-basis: 0;

  log-line {
    @extend
      .min-wh-auto,
      .rounded,
      .p-1,
      .flash-anim,
      .text-xs,
    ;
    
    border: transparent solid 1px;
    
    &:nth-child(odd) {
      @extend .bg-grey-darkest;
    }
  }
}

energy-meter > span {
  transition: width 0.5s;
}

aspect-el {
  @extend
    .m-1,
    .py-2,
    .px-4,
    .bg-blue,
    .text-white,
    .font-bold,
    .rounded,
  ;

  &.disabled {
    @extend
      .bg-grey,
      .text-grey-dark,
    ;
  }

  &:hover {
    @extend .bg-blue-dark;

    &.disabled {
      @extend
        .bg-grey-dark,
        .text-grey-darker,
      ;
    }
  }

}

b-track {
  @extend
    .border
  ;

  b-tick {
    height: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  
    // Center text
    flex-direction: row;
    align-items: center;
  
    // Alternating colors
    @extend .bg-grey-light;
    &:nth-child(odd) {
      @extend .bg-grey;
    }
    
    &:after {
      @extend
        .font-light,
        .m-1,
        .py-2,
        .px-4,
        .rounded,
        .bg-blue-dark,
      ;
    }

    &.cur-tick {
      @extend .bg-red;
    }
  
  }

}

energy-meter {
  @extend .centered-overlay;
  border-width: 1px;
  border-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.x-button {
  position: absolute;
  right: 0;
  top: 0;
}

.hover-desc-top {

  position: relative;

  &:after {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateY(50%) scaleY(0);
    transition: transform 0.2s ease-in-out;
    content: attr(data-desc);
  }

  &:hover {
    &:after {
      transform: translateY(0%) scaleY(1);
    }
  }
}

.hover-desc-bot {

  position: relative;

  &:after {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.2s ease-in-out;
    content: attr(data-desc);
  }

  &:hover {
    &:after {
      transform: translateY(0%) scaleY(1);
    }
  }
}

.details-enter {
  transform: scaleY(0);
}
.details-enter-active {
  transform: scaleY(1);
  transition: all 300ms ease-out;
}
.details-exit {
  transform: scaleY(1);
}
.details-exit-active {
  transform: scaleY(0);
  transition: all 300ms ease-out;
}